#all{
    width:100%;
    height:100%;
}
/* article{
    width:100%;
    height:100px;
}
.logo{
    width:10%;
    height:100px;
    background: #0ff;
    margin: 0 0 0 20%;
} */
section{
    width:70%;
    margin: 40px auto;
    
}
.el-form-item{
    margin-top:50px;
}
.el-input{
    width:40%;
}